@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0D0F2B; /* global dark bg */
}

/* dynamic viewport (mobile + desktop safe) */
.full-height {
  min-height: 100vh;
  min-height: 100dvh;
}

body {
  overflow-x: hidden;
}